{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="huge">Move Product</div>        
    </div>
    <div class="col-md-6 offset-md-3 border pt-2">
        <br>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                <fieldset class="form-group">
                        <div class="form-group">
                            <label class="form-control-label">Product Name</label>
                            <input name="name" id="name" class="form-control form-control-lg" value="{{ product_name }}" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Product Quantities at Respective Locations</label>
                        </div>    
                        <div class="form-group" style="height:100px;overflow: auto;">
                            {% for index in range(ranges) %}
                                {% if quantities[index] != 0 %}
                                    <div class="form-group">
                                        <input class="form-control form-control-md" value="Quantity at {{ locations[index][0] }} location is {{ quantities[index] }}" disabled>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">From Location</label>
                            <select name="fromLocation" id="fromLocation" class="form-control form-control-lg">
                            {% for index in range(ranges) %}
                                {% if quantities[index] != 0%}
                                    <option value="{{ locations[index][0] }}" data-qty="{{ quantities[index] }}">{{ locations[index][0] }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">To Location</label>
                            <select name="toLocation" id="toLocation" class="form-control form-control-lg">
                            {% for index in range(ranges) %}
                                <option value="{{ locations[index][0] }}">{{ locations[index][0] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Quantity</label>
                            <select name="quantity" id="quantity" class="form-control form-control-lg">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Date</label>
                            <input name="timestamp" id="timestamp" class="form-control form-control-lg" value="{{ time }}" readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input name="email" id="email" class="form-control form-control-lg" value="{{ email }}" readonly>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-success navbar-dark bg-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript">
        $("#fromLocation").change(function () {
            value = $(this).find(':selected').data('qty');
            select = document.getElementById('quantity');
            $('#quantity').html(' ');
            append = '';
            for (i = 1; i < value+1; i++) {
                append = append + '<option id="remove" value="'+ i +'">'+ i +'</option>';
            }
            select.innerHTML += append;
        });  
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            value = $(this).find(':selected').data('qty');
            select = document.getElementById('quantity');
            append = '';
            for (i = 1; i < value+1; i++) {
                append = append + '<option id="remove" value="'+ i +'">'+ i +'</option>';
            }
            select.innerHTML += append;
            });
    </script>
{% endblock content %}