{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="huge">Add Location</div>        
    </div>
    <div class="col-md-6 offset-md-3 border pt-2">
        <br>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-success navbar-dark bg-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}