{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6 offset-md-3 border pt-2">
        <br>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                    <div class="form-group">
                        <input name="submit" class="btn btn-success navbar-dark bg-dark" value="Edit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}