{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="{{ url_for('view_product') }}" style="text-decoration:none; color: white;">
                <div class="border rounded navbar-dark bg-dark">
                    <div class="panel-heading">
                        <br>
                        <div class="row">
                            <div class="col-md-8 offset-md-3 text-right">
                                <div class="huge">{{ products }}</div>
                                <div>Total Products</div>
                                <div>View Products</div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="{{ url_for('view_location') }}" style="text-decoration:none; color: white;">
                <div class="border rounded navbar-dark bg-dark">
                    <div class="panel-heading">
                        <br>
                        <div class="row">
                            <div class="col-md-8 offset-md-3 text-right">
                                <div class="huge">{{ locations }}</div>
                                <div>Total Locations</div>
                                <div>View Locations</div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" style="text-decoration:none; color: white;">
                <div class="border rounded navbar-dark bg-dark">
                    <div class="panel-heading">
                        <br>
                        <div class="row">
                            <div class="col-md-8 offset-md-3 text-right">
                                <div class="huge">{{ sales }}</div>
                                <div>Total Sales</div>
                                <div>View Sales</div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="{{ url_for('view_productmovement') }}" style="text-decoration:none; color: white;">
                <div class="border rounded navbar-dark bg-dark">
                    <div class="panel-heading">
                        <br>
                        <div class="row">
                            <div class="col-md-8 offset-md-3 text-right">
                                <div class="huge">{{ movements }}</div>
                                <div>Total Movement</div>
                                <div>Product Movement</div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}