{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
            <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="border rounded bg-success panel">
                            <div class="panel-heading">
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div class="huge">26</div>
                                        <div>Total Products</div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <a href="{{ url_for('view_product') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Products</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="border rounded bg-success panel">
                            <div class="panel-heading">
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div class="huge">26</div>
                                        <div>Total Locations</div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <a href="{{ url_for('view_location') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Locations</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="border rounded bg-success panel">
                            <div class="panel-heading">
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div class="huge">26</div>
                                        <div>Total Sales</div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <a href="{{ url_for('view_product') }}">
                                <div class="panel-footer">
                                    <span class="pull-left">View Products</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="border rounded bg-success panel">
                            <div class="panel-heading">
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <div class="huge">26</div>
                                        <div>Total Movement</div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <a href="{{ url_for('view_productmovement') }}">
                                <div class="panel-footer">
                                    <span class="text-right">View Products</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    </div>
{% endblock content %}