{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <small class="text-muted">
                    <a href="{{ url_for('home') }}">Inventory Manager </a>
                    / Sales
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 border rounded pt-2">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Inventory Sales</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-md-12"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <div class="row">
                                    <div class="col-md-2 col-md-2 border-left pt-2"> 
                                        Product Id
                                    </div>
                                    <div class="col-md-2 col-md-2 border-left pt-2">
                                        Name
                                    </div>
                                    <div class="col-md-2 col-md-2 border-left pt-2">
                                        Quantity
                                    </div>
                                    <div class="col-md-2 col-md-2 border-left pt-2">
                                        Location
                                    </div>
                                    <div class="col-md-2 col-md-2 border-left pt-2">
                                        Edit
                                    </div>
                                    <div class="col-md-2 col-md-2 border-left pt-2">
                                        Move
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12" style="height:600px; overflow: auto;">
                        {% for i in range(100) %}
                            <div class="row">
                                <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                        <div class="row">
                                            <div class="col-md-2 col-md-2 border-left pt-2"> 
                                                Product Id
                                            </div>
                                            <div class="col-md-2 col-md-2 border-left pt-2">
                                                Name
                                            </div>
                                            <div class="col-md-2 col-md-2 border-left pt-2">
                                                Quantity
                                            </div>
                                            <div class="col-md-2 col-md-2 border-left pt-2">
                                                Location
                                            </div>
                                            <div class="col-md-2 col-md-2 border-left pt-2">
                                                <a href="">Edit</a>
                                            </div>
                                            <div class="col-md-2 col-md-2 border-left pt-2">
                                                <a href="">Move</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}