{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <small class="text-muted">
                    <a href="{{ url_for('home') }}">Inventory Manager </a>
                    / Product
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 border rounded pt-2">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Inventory Product Movement</h2>
                    </div>
                    <div class="col-md-2 float-right">
                        {% set href = url_for('add_productmovement') %}
                        <button class="btn btn-success" onclick=" window.location.href='{{ href }}';">Move Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-md-12"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12" style="height:600px; overflow: auto;">
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <a href="#" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-md-2 col-md-2 border-left pt-2"> 
                                            Product Id
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Name
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Quantity
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Location
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            View
                                        </div>
                                        <div class="col-md-2 col-md-2 border-left pt-2">
                                            Edit
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}