{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <small class="text-muted">
                    <a href="{{ url_for('home') }}">Inventory Manager </a>
                    / Product
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 border rounded pt-2">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Inventory Product</h2>
                    </div>
                    <div class="col-md-2 float-right">
                        {% set href = url_for('add_product') %}
                        <button class="btn btn-success navbar-dark bg-dark" onclick=" window.location.href='{{ href }}';">Add Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-md-12"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <div class="row">
                                    <div class="col pt-2"> 
                                        Product Id
                                    </div>
                                    <div class="col border-left pt-2">
                                        Name
                                    </div>
                                    <div class="col border-left pt-2">
                                        Quantity
                                    </div>
                                    <div class="col border-left pt-2">
                                        View Quantities
                                        </div>
                                    <div class="col border-left pt-2">
                                        Edit
                                    </div>
                                    <div class="col border-left pt-2">
                                        Move
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12" style="height:600px; overflow: auto;">
                        {% for product in products %}
                            <div class="row">
                                <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                    <div class="row">
                                        <div class="col pt-2"> 
                                            {{ product[0] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ product[1] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ product[2] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            <a href="{{ url_for('product_info', product_id=product[0]) }}">View Quantities</a>
                                        </div>
                                        <div class="col border-left pt-2">
                                            <a href="{{ url_for('edit_product', product_id=product[0]) }}">Edit</a>
                                        </div>
                                        <div class="col border-left pt-2">
                                            <a href="{{ url_for('add_productmovement', product_id=product[0]) }}">Move</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}