{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <small class="text-muted">
                    <a href="{{ url_for('home') }}">Inventory Manager </a>
                    / Product
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 border rounded pt-2">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Inventory Product Movement</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-md-12"> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                <div class="row">
                                    <div class="col pt-2"> 
                                        Product Id
                                    </div>
                                    <div class="col border-left pt-2">
                                        Name
                                    </div>
                                    <div class="col border-left pt-2">
                                        From Location
                                    </div>
                                    <div class="col border-left pt-2">
                                        To Location
                                    </div>
                                    <div class="col border-left pt-2">
                                        Quantity
                                    </div>
                                    <div class="col border-left pt-2">
                                        Date
                                    </div>
                                    <div class="col border-left pt-2">
                                        Revert
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12" style="height:600px; overflow: auto;">
                        {% for count in range(counts) %}
                            <div class="row">
                                <div class="col-md-12 border rounded pt-2" style=" height:50px;">
                                    <div class="row">
                                        <div class="col pt-2"> 
                                            {{ movements[count][1] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ movements[count][2] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ movements[count][3] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ movements[count][4] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ movements[count][5] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            {{ movements[count][6] }}
                                        </div>
                                        <div class="col border-left pt-2">
                                            <a href="{{ url_for('edit_productmovement', productmovement_id=movements[count][0]) }}">Revert</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}